/* место для вашего кода */
.header {
    width: 1052px;
    height: 105px;
    margin: 92px 24px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    background-color: lightblue;
    justify-items: center;
    align-items: center;
}

.header__links-list{
    display: flex;
    width: 391.4px;
    height: 22px;
    justify-content: space-around;
}

.header__links-list-item_no-bullet {
    list-style-type: none;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__link {
    font-size: 18px;
    text-underline-position: under; 
}

.header__link_active {
    font-size: 18px;
    text-decoration: none;
}

.header__logo-image {
    height: 105px;
    width: 148px;
}

.header__adress {
    justify-self: end;
    width: 240.52px;
    font-size: 18px;
    text-underline-position: under;
    line-height: 24.3px; 
}

.cover {
    background-image: url(../images/cover.jpg);
    width: 1100px;
    height: 757px;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 60%;
    z-index: 0;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}